<br/>
<h2>New Transcation Details</h2>
<main>
  <p>
    You got a new order from <%= @transaction.name %>!
  </p>

  <p>
    Order details<br>
    --------------------------
  </p>
  <p>
    Name: <%= @transaction.name %>
  </p>
  <p>
    Email: <%= @transaction.email %>
  </p>
  <p>
    Address: <%= @transaction.address %>
  </p>
  <p>
    Message:<br>
    ----------
  </p>
  <p>
    <%= @transaction.message %>
  </p>

</main>