<br/>
<h2><%= @user.fullname %>'s Profile Edit</h2>

<main>
  <%= nested_form_for([resource_name, resource.with_address], url: registration_path(resource_name), method: :put ) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <h6>Profile</h6>

    <div class="form-inputs field">
      <%= f.label :fullname %>
      <%= f.text_field :fullname, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :username %>
      <%= f.text_field :username, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :profile_info %>
      <%= f.text_area :profile_info, autofocus: true %>
    </div>

    <br/>

    <h6>Password</h6>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "new-password" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
      <i>(leave blank if you don't want to change it)</i>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :current_password %> 
      <%= f.password_field :current_password, autocomplete: "current-password" %><br/>
      <i>(we need your current password to confirm your changes)</i>
    </div>

    <br/>
    <h6>Address</h6>
    <%= f.fields_for :address do |address_form| %>
      <div class="field">
        <%= address_form.label :address_street %>
        <%= address_form.text_field :address_street, autofocus: true %>
      </div>
      <div class="field">
        <%= address_form.label :address_state %>
        <%= address_form.text_field :address_state, autofocus: true %>
      </div>
      <div class="field">
        <%= address_form.label :address_country %>
        <%= address_form.text_field :address_country, autofocus: true %>
      </div>
      <div class="field">
        <%= address_form.label :address_postcode %>
        <%= address_form.text_field :address_postcode, autofocus: true %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Update" %>
    </div>
  <% end %>
  <%= link_to "Back to Home", :back %>
  <br/><br/><br/><br/>
  
  <h6>Unhappy? Cancel my account</h6>
  <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>

  
</main>