<br/>
<h2>Create that side hustle!</h2>
<main id="transactionlist">
  <h2><%= current_user.fullname %>'s Transaction History</h2>

  <article class="transactionlistcontainer">
    <% current_user.purchased_products.each do |product| %>
      <div>
        <p>
          #id: <%= Transaction.find_by(product_id: product.id).id %><br />
          <%= Transaction.find_by(product_id: product.id).created_at  %>
        </p>
      </div>
      <div class="transactionitem">
        <div>
          <%= image_tag product.product_image, class:"transactionimg" if product.product_image? %>
        </div>
        <ul>
          <li><strong>Product Purchased: <%= product.product_name %></strong></li><br />
          <li>Product Info: <%= product.product_description %></li><br />
          <li>Total Cost: <%= product.product_price %></li><br />
          <li>Deliver to: <%= current_user.fullname %></li>
          <li>Delivery Address: <%= product.user.address.address_street %>, <%#= current_user.address_state %></li>
        </ul>
      </div>
    <% end %>
  </article>
</main>