<br/>
<h2>Create that side hustle!</h2>
<main id="transactionlist">
  <h2><%= current_user.fullname %>'s Transaction History</h2>

  <article class="transactionlistcontainer">
    <% current_user.purchased_products.each do |product| %>
      <div class="transactionitem">
        <div>
          <%= image_tag product.product_image, class:"transactionimg" if product.product_image? %>
        </div>
        <ul>
          <li><strong>Product Purchased: <%= product.product_name %></strong></li><br />
          <li>Date Purchased: <%= product.created_at %></li>
          <li>Product Info: <%= product.product_description %></li>
          <li>Total Cost: $<%= product.product_price / 100 %></li><br />
          <li>To arrange online delivery please contact artist directly, </li>
          <li>Artist Info: <%= product.user.fullname %> | <%= product.user.email %></li>
        </ul>
      </div>
    <% end %>
  </article>
</main>