<%= notice %>
<br />
<h2>All Products</h2>

<main>
  <section class="imageholder">
    <% @products.each do |product| %>
      <div class='productlisting'>
        <div class="productimagecontainer">
          <%= product.category.category_name %>
          <%= image_tag image_select(product), class:"smallproductimage" %>
        </div>
        
        <%= link_to "#{product.product_name}", product %><br />
        $ <%= product.product_price %>
        
        <br />

        <span>
          <% if user_signed_in? %>
            <%= link_to 'Show', product %> | 
            <%= link_to 'Edit', edit_product_path(product) %> | 
            <%= link_to 'Delete Product', product, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </span>
      </div>
    <% end %>
  </section>

  <br /><br /><br />

  <% if user_signed_in? %>
    <%= link_to 'Create a New Product', new_product_path %>
  <% end %>
</main>