<br />
<h2><%= @product.product_name %></h2>
<main id="show">
  <section>
    <%= image_tag image_select(@product), class:"productimage" %>
  </section>
  <section class="productinfo">
    <h5>
      <strong><%= @product.product_name %></strong> | <%= @product.category.category_name %><br /><br />
      <%= @product.product_description %><br /><br />
      <% if @product.product_stock == true %>
        Available
        <% else %>
        Unavailable
      <% end %><br />
      <strong>$ <%= @product.product_price %></strong>
    </h5>
    <br />
    <% if current_user && @product.product_stock == false %>
      <button class="specialbtn" disabled>
        SOLD
      </button>
      <%= link_to "Contact Seller", root_path %>
    <% elsif current_user && @product.product_stock == true %>
      <button data-stripe="payment" class="specialbtn">
        Buy Now: $<%= @product.product_price %>
      </button>
    <% else %>
      <%= button_to "Login to buy", new_user_session_path, class:"specialbtn" %>
    <% end %>
    <br />
    <br />
    <br />
    <h6 class="productnav">
      <% if user_signed_in? && current_user.id == @product.user_id %>
        <%= link_to "Edit #{@product.product_name}", edit_product_path(@product), :class=>'back' %>
      <% end %>
      <br />
      <%= link_to 'Back to ALL Products', products_path, :class=>'back'  %>
    </h6>
  </section>
</main>


<script src="https://js.stripe.com/v3"></script>
<script>
  document.querySelector("[data-stripe='payment']")
    .addEventListener("click",()=>{
      const stripe = Stripe(
        "<%=Rails.application.credentials.dig(:stripe, :public_key)%>"
      );
      stripe.redirectToCheckout({
        sessionId: "<%= @session_id%>"
      });
    })
</script>
