<br />
<h2><%= @product.product_name %></h2>
<main id="show">
  <section>
    <%= image_tag image_select(@product), class:"productimage" %>
  </section>
  <section class="productinfo">
    <h5>
      <strong><%= @product.product_name %></strong> | <%= @product.category.category_name %><br /><br />
      <%= @product.product_description %><br /><br />
      <% if @product.product_stock == true %>
        Available
        <% else %>
        Unavailable
      <% end %><br />
      <strong>$ <%= @product.product_price %></strong>
    </h5>
    <br />
    <h6 class="productnav">
      <% if user_signed_in? %>
        <%= link_to "Edit #{@product.product_name}", edit_product_path(@product), :class=>'back' %>
      <% end %>
      <br />
      <%= link_to 'Back to ALL Products', products_path, :class=>'back' %>
    </h6>
  </section>
</main>
